<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="false">
      <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Buscar país..." />
    </form>
  </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el termino {{termino}}
</div>

<div *ngIf="!hayError" class="row">
  <div class="col">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Bandera</td>
          <td>nombre</td>
          <td>asasasas1</td>
          <td><a href=""> ver mas..</a> </td>
        </tr>
      </tbody>

    </table>


  </div>
</div>
